/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/css3";

/*Start SUSY Grid */
@import "susyone";
$total-columns 	:	12;
$column-width	:	5em;
$gutter-width	:	1.5em;
$grid-padding	:	2em;
/* End SUSY Grid */

@import "partials/normalize";
@import "partials/utilities";

$background-color: #000623;
$light-contrast: #F0E3C0;
$county-fill: #4A6C74;
$hover-contrast: #28475C;
$earthquake: #FFED5D;
$faultline: #FFF2C1;
$well: #D95F47;

@font-face	{
	font-family: icomoon;
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg') format('svg');
}

.container {
	@include container;
}

.map {
	@include span-columns(12 omega,12);
}

html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: $background-color;
	color: $light-contrast;
	letter-spacing: 2px;
}
h1 {
  font-size: 2em;
  text-align: center;
}

a {
  color: $light-contrast;
}

h1, h2, h3 {
	font-weight: 100;
}

p {
	font-weight: normal;
}

.timelinecontrol {
  font-family: 'icomoon';
  display: inline;
  font-size: 6em;
  &.play {
    &:after {
      content: "p";
    }
  }
  &:after {
    content: "a";
  }
}

.yearvalue {
	color: $light-contrast;
	font: 100 10em "Helvetica Neue";
  @media (max-width: 40em) {
    font-size: 6em;
  }
}

.county {
	fill: $county-fill;
	stroke: $light-contrast;
	&.hover {
		fill: $hover-contrast;
	}
}

.earthquake {
	fill: $earthquake;
}

.faultline {
  fill: none;
  stroke: $faultline;
}

.well {
  fill: $well;
}

ul {
	li {
		button {
			@include appearance(none);
			padding: 2em;
			margin: .25em;
			border: none;
			background: red;
			&.active {
				background: steelblue;
			}
		}
	}
}



.interactiveoptions {
  @include span-columns(4,12);
  + .interactiveoptions {
    @include span-columns(8 omega,12);
    @media (max-width: 40em) {
      @include span-columns(12 omega, 12);
    }
  }
  @media (max-width: 40em) {
    @include span-columns(12 omega, 12);
  }
  > div {
    padding-bottom: .5em;
  }
  input {
    @include appearance(none);
    outline: none;
  }
  input[type=range] {
    width: 50%;
    height: 1px;
    background-color: $light-contrast;
    @media (max-width: 40em) {
      width: 100%;
    }
  }
  input[type=checkbox] {
    border: 1px solid $light-contrast;
    height: 15px;
    width: 15px;
    margin: 0;
    &:checked {
      background-color: $light-contrast;
    }
  }
}

.accessible {
  @include accessible_hidden;
}
